* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html,body{
    box-sizing: border-box;
    height: 100vh;
    background: url('../Login/images/bg.jpg') no-repeat;
    background-size: cover;
  }

.login-form {
    margin: auto;
    margin-top: 35px;
    padding: 10px 20px;
    background: #555555bd;
    width: 400px;
    color: #fff;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.login-form h1 {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 0;
}

.login-form p {
    font-size: 18px;
    margin: 15px 0 5px 0;
}

.button-container{
    text-align: center;
}

.login-form input {
    font-size: 16px;
    width: -webkit-fill-available;
    padding:10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.login-form button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
}



header {
    height: 70px;
    width: 100%;
    background: rgb(0, 0, 0);
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
}

.wrapper h1 {
    font-family: cursive;
    color: rgb(28, 135, 228);
    height: auto;
    font-size: 40px;
}

.first {
    list-style: none;
}

.first li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    padding-right: 15px;
}

.first li a {
    color: rgb(28, 135, 228);
    text-decoration: none;
    font-size: 18px;
}

.first li a:hover {
    border-bottom: 2px solid rgb(28, 135, 228);
}

/*footer*/

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

footer {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 120px;
    width: 100%;
    background: black;
}


/*
.jpg{
    float:left;
}*/

.media li:hover {
    border-bottom: 0.4px white solid;
    opacity: 0.5;
}

.media li {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-right: 19px;
}

.copyright p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(28, 135, 228);
    font-size: 20px;
    font-weight: bold;
}

