
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
background: #f8f9fc; 
font-family: 'Montserrat', sans-serif;
}
header {
    height: 80px;
    background: rgb(0, 0, 0);
}

.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-left: 2%;
}

.wrapper h1 {
    font-family: cursive;
    color: rgb(28, 135, 228);
    height: auto;
    width: auto;
    margin-top: 10px;
    font-size: 40px;
}
.first {
    float: right;
    list-style: none;
    margin-top: 15px;
}

.first li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 5px 24px;
}
.first li a {
    color: rgb(28, 135, 228);
    text-decoration: none;
    font-size: 20px;
}

.first li a:hover {
    border-bottom: 2px solid rgb(28, 135, 228);
}


.panel-container {
  background-color: #12192c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 400px;
  color:#f8f9fe;
  margin:10% auto 2% auto;
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating img {
  width: 40px;
}

.rating small {
  color: #fff;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: #8f94fb;
}

.btn {
  background-color: #8f94fb;
  color: #000;
  border: 0;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}
footer{
    background: black;
    color: rgb(28, 135, 228);
    text-align: center;
    height: 110px;
    width: auto;
}
.media li:hover {
    border-bottom: 0.4px white solid;
    opacity: 0.5;
    height:20%;
}
.media img{
    height: 25px;
    width: auto;
    margin-top: 16px;
}
.media li {
    display: inline-block;
}


